accelerate==0.24.1
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.12.1
altair==5.1.2
annotated-types==0.6.0
antiorm==1.2.1
anyio
APScheduler==3.10.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
Authlib==1.3.0
backoff==2.2.1
beautifulsoup4==4.12.2
fitz==0.0.1

bidict==0.22.1
blinker==1.7.0
cachelib==0.10.2
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
channels==4.0.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
cohere==4.34
colorama==0.4.6
configobj==5.0.8
configparser==6.0.0
contourpy==1.2.0
cryptography==41.0.7
cycler==0.12.1
dataclasses-json==0.6.2
datasets==2.15.0
db==0.1.1
db-sqlite3==0.0.1
dill==0.3.7
distlib==0.3.7
distro==1.9.0
Django==4.2.4
django-cors-headers==4.2.0
djangorestframework==3.14.0
docx2txt==0.8
etelemetry==0.3.1
exceptiongroup==1.1.3
faiss-cpu==1.7.4
fastavro
filelock==3.12.2
fitz==0.0.1.dev2
Flask==3.0.0
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-MySQLdb==2.0.0
Flask-Session==0.5.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
fonttools==4.47.0
frozenlist==1.4.1
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.17.0
google-api-python-client==2.118.0
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-cloud==0.34.0
google-cloud-bigquery==3.17.2
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
greenlet==3.0.1
grpcio==1.62.0
grpcio-health-checking==1.62.0
grpcio-tools==1.62.0
gspread==5.12.4
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
huggingface-hub==0.19.4
idna==3.6
importlib-metadata==6.11.0
iso8601==2.1.0
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
kiwisolver==1.4.5
langchain==0.0.339
langsmith==0.0.66
looseversion==1.3.0
lxml==4.9.3
Mako==1.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
mysqlclient

PyMySQL
networkx==3.2.1
nibabel==5.2.0
nipype==1.8.6
numexpr==2.8.7
numpy==1.26.2
oauthlib==3.2.2
openai==1.6.1
packaging==23.2
pandas==2.1.3
pathlib==1.0.1
pdfminer.six==20231228
Pillow==10.1.0
platformdirs==3.10.0
protobuf==4.25.2
prov==2.0.0
psutil==5.9.6
pyarrow==14.0.1
pyarrow-hotfix==0.5
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydeck==0.8.1b0
pydot==2.0.0
Pygments==2.17.1
PyMuPDF==1.23.21
PyMuPDFb==1.23.9
pyparsing==3.1.1
PyPDF2==3.0.1
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.0.1
python-engineio==4.8.2
python-socketio==5.11.0
pytz==2023.3
pyxnat==1.6.2
PyYAML==6.0.1
rdflib==7.0.0
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.0
rpds-py==0.13.1
rsa==4.9
safetensors==0.4.0
scipy==1.12.0
simple-websocket==1.0.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
sqlparse==0.4.4
streamlit==1.28.2
sympy==1.12
tenacity==8.2.3
tiktoken==0.5.1
tokenizers==0.15.0
toml==0.10.2
toolz==0.12.0
torch==2.1.1
tornado==6.3.3
tqdm==4.66.1
traits==6.3.2
transformers==4.35.2
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.1.0
validators==0.22.0
virtualenv==20.24.2
watchdog==3.0.0
weaviate-client==3.26.0
Werkzeug==3.0.1
wikipedia==1.4.0
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
youtube-transcript-api==0.6.1
zipp==3.17.0
